</body>
<footer id="footer">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-6">
        <p>with <i id="footer-head" class="bi bi-heart-fill"></i> from W&J</p>
      </div>
    </div>
  </div>
</footer>
</html>
