<%- include("partials/header") %>

<h1>home</h1>
<p>Where you can create the html. You can duplicate this file and rename it </p>
<p>For the different screen structures</p>
<%- include("partials/footer") %>
